.Login{
    display: flex;
    margin-top: 0px;
    justify-content: center;
    flex-direction: column;
    background-color: #f4b400;
    padding: 50px;
    border-radius: 10px;
    margin: 50px auto;
    width: 90%;
    max-width: 700px;
    border-radius: 10px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.30);
}

.Login h1 {
    text-align: center;
}

.CamposLogin {
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 100%;
}

.CamposLogin label {
    font-size: 20px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 18px;
    font-weight: 600;
}

.CamposLogin input {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
}

.CamposLogin input:focus{
    border-color: #8b0000;
    box-shadow: 0 0 5px rgba(139,0,0,0.4);
}

.Login button {
    margin-top: 20px;
    padding: 12px 30px;
    font-size: 16px;
    background-color: #8b0000;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
    align-self: center;
}

.Login button:hover {
    box-shadow: 0 0 5px #a30000;
    transform: scale(1.04);
}

.mensagens {
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    width: 35%;
    margin: 50px auto;
    text-decoration: none;
    padding: 40px 0px 0px;
    font-weight: bold;
}

.info {
    background-color: blue;
    box-shadow: blue 0px 3px 10px;
    border-radius: 10px;
    color: black;
}

.warning {
    background-color: red;
    box-shadow: #ff0000 0px 3px 10px;
    border-radius: 10px;
    color: black;
}

.success {
    color: green;
    background-color: green;
    box-shadow: green 0px 3px 10px;
    border-radius: 10px;
    color: black;
}