.cardapio {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.cardapio .item {
  width: 200px;
  text-align: center;
}

.cardapio img {
  width: 180px;
  height: 180px;
  border-radius: 8px;
}

.cardapio .AddPedido {
    padding: 10px 20px;
    font-size: 15px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.cardapio .AddPedido:hover {
    background-color: #555;
    transform: scale(1.1);
}

.LoginRequest {
    padding: 10px 20px;
    font-size: 15px;
    background-color: #ff0000;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

.cardapio .LoginRequest:hover {
    box-shadow: #ff0000 0px 3px 8px;
    transform: scale(1.1);
}