html, body {
    height: 100%;
    margin: 0;
}

body{
    background-color: #fff5dc;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.menu {
    display: flex;
    align-items: center;
    background-color: #8b0000;
    box-shadow: #8b0000 0px 3px 8px;
}


/* logo fica na esquerda */
.menu img {
    width: 120px;
}

/* menu fica exatamente no meio */
.links {
    position: absolute;     /* tira do fluxo normal */
    left: 50%;              /* joga pro meio */
    transform: translateX(-50%); /* centraliza de verdade */
    display: flex;
    gap: 50px;
}

.links a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s;
    background-color: #8b0000;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.links a:hover {
    transform: scale(1.09);
    color: #b22222;
    background-color: white;
    box-shadow: #b7b7b7 2px 4px 8px;
}

.direita {
    margin-left: auto; /* empurra pro canto direito */
    display: flex;
    gap: 10px;
    padding: 20px;
    border-radius: 5px;
}

.direita a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s;
    background-color: #8b0000;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
}

.direita a:hover {
    transform: scale(1.09);
    color: #b22222;
    background-color: white;
    box-shadow: #b7b7b7 2px 4px 8px;
}

.LogoPizza {
    display: block; /* tira o comportamento inline da imagem */
    margin: 50px auto; /* centraliza horizontalmente e dá uma margem vertical */
    width: 400px;
    text-align: center;
    padding: 0px;
}

.Promocao{
    display: flex;
    margin: auto;
    gap: 50px;
}

.Promocao img {
    width: 200px;
    height: 200px;
    background-color: #8b0000;
    border-radius: 10px;
}

.Promocao div {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.272);
    transition: 0.3s;
}

.Promocao div:hover{
    transform: translateY(-5px);
}

.Preco {
    font-size: 30px;
    font-weight: bold;
    color: red;
}

.Footer {
    background-color: #8b0000;
    box-shadow: #8b0000 0px -3px 8px;
    padding: 10px;
    margin-top: auto;
}

.Footer p{
    text-decoration: none;
    color: white;
    text-align: center;
}

h1, h2, h3, h4, h5, h6{
    color: #333;
}

p{
    color: #333;
}