.Cadastro{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    flex-direction: column;
    background-color: #f4b400;
    padding: 50px;
    border-radius: 10px;
    margin: 50px auto;
    width: 90%;
    max-width: 700px;
    border-radius: 10px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.30);
}

.Cadastro h1 {
    text-align: center;
}

.CamposCadastro {
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 100%;
}

.CamposCadastro label {
    font-size: 20px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 18px;
    font-weight: 600;
}

.CamposCadastro input {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
}

.CamposCadastro input:focus{
    border-color: #8b0000;
    box-shadow: 0 0 5px rgba(139,0,0,0.4);
}

.Cadastro button {
    margin-top: 20px;
    padding: 12px 30px;
    font-size: 16px;
    background-color: #8b0000;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
    align-self: center;
}


.Cadastro button:hover {
    box-shadow: 0 0 5px #a30000;
    transform: scale(1.04);
}

/*Indicação de Obrigatório*/
label:has(+input:required)::after{
    content:'*';
    color: red;
}
/*Indicação de Opcional*/
label:has(+input:optional)::after{
    content: "(Opcional)";
    margin-left: 4px;
}