<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <title>PizzariaPostgreSQL</title>
</head>
<body>
    <header>
        <div class="menu">
            <img src="{{ url_for('static', filename='img/pizzarialogo.png') }}" alt="Logo da Pizzaria">


            <nav class="links">
                <a>Home</a>
                <a href="{{ url_for('cardapio.cardapio') }}" target="_self" rel="noopener noreferrer">Cardápio</a>
                <a href="{{ url_for('pedido.pedido')}}" target="_self" rel="noopener noreferrer">Pedido</a>
            </nav>         
            <nav class="direita">
                {% if session.get("usuario_id") %}
                    <a href="{{ url_for('login.logout') }}" target="_self" rel="noopener noreferrer">Logout</a>
                {% else %}
                <a href="{{ url_for('cadastro.cadastro') }}" target="_self" rel="noopener noreferrer">Cadastro</a>
                <a href="{{ url_for('login.login') }}" target="_self" rel="noopener noreferrer">Login</a>
                {% endif %}
            </nav>
        </div>
    </header>

    <h1 class="H1Logo">Bem-vindo à Pizzaria PostgreSQL!</h1>
    <p class="Pdoh1">As melhores pizzas de todos os bancos de dados🍕</p>
    <img src="{{ url_for('static', filename='img/pizza.png') }}" alt="Logo da Pizzaria" class="LogoPizza">
    <p class="Pdoh1">Sabor e tecnologia em cada fatia</p>
    <h2 class="H2Logo">Promoções do Dia</h2>

    <div class="Promocao">
        <div>
            <img src="{{ url_for('static', filename='img/pizzamargherita.png') }}" alt="Pizza Margherita">
            <h3>Pizza Margherita</h3>
            <p>Deliciosa pizza com molho de tomate, mussarela e manjericão.</p>
            <p class="Preco">R$ 29,90</p>
        </div>
        <div>
            <img src="{{ url_for('static', filename='img/pizzapepperoni.png') }}" alt="Pizza Pepperoni">
            <h3>Pizza Pepperoni</h3>
            <p>Pizza clássica com pepperoni, queijo e molho de tomate.</p>
            <p class="Preco">R$ 34,90</p>
        </div>
        <div>
            <img src="{{ url_for('static', filename='img/pizzavegetariana.png') }}" alt="Pizza Vegetariana">
            <h3>Pizza Vegetariana</h3>
            <p>Opção saudável com legumes frescos, queijo e molho de tomate.</p>
            <p class="Preco">R$ 31,90</p>
        </div>
    </div>

    <h2 class="Hsobre">Sobre a Pizzaria</h2>
    <p class="Psobre">A Pizzaria PostgreSQL é uma pizzaria tradicional que oferece uma variedade de pizzas deliciosas, 
        feitas com ingredientes frescos e de alta qualidade. Nossa missão é proporcionar uma experiência gastronômica única, 
        combinando sabores autênticos com um ambiente acolhedor. 
        Venha nos visitar e descubra por que somos a escolha número um para os amantes de pizza na cidade!</p>

    <footer class="Footer">
        <p>© 2026 Projeto Pizzaria PostgreSQL. <br>Todos os direitos reservados.</p>
    </footer>
</body>
</html>