<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Static/Css/Style.css">
    <link rel="stylesheet" href="../Static/Css/Style2.css">
    <title>PizzariaPostgreSQL</title>
</head>
<body>
    <header>
        <div class="menu">
            <img src="../Static/Img/pizzarialogo.png" alt="Logo da Pizzaria" class="logo">

            <nav class="links">
                <a href="Index.html" target="_self" rel="noopener noreferrer">Home</a>
                <a href="Cardapio.html" target="_self" rel="noopener noreferrer">Cardápio</a>
                <a href="Pedido.html" target="_self" rel="noopener noreferrer">Pedido</a>
            </nav>         
            <nav class="direita">
                <a href="Cadastro.html" target="_self" rel="noopener noreferrer">Cadastro</a>|
                <a href="Login.html" target="_self" rel="noopener noreferrer">Login</a>
            </nav>
        </div>
    </header>

    <h1 class="H1Logo">Bem-vindo à Pizzaria PostgreSQL!</h1>
    <img src="../Static/Img/Pizza.png" alt="Logo da Pizzaria" class="LogoPizza">
    <p class="Plogo">As melhores pizzas da cidade 🍕</p>

    <h2 class="H2Logo">Promoções do Dia</h2>

    <div class="Promocao">
        <div>
            <img src="../Static/Img/PizzaMargherita.png" alt="Pizza Margherita" class="promo-img">
            <h3>Pizza Margherita</h3>
            <p>Deliciosa pizza com molho de tomate, mussarela e manjericão.</p>
            <p class="Preco">R$ 29,90</p>
        </div>
        <div>
            <img src="../Static/Img/PizzaPepperoni.png" alt="Pizza Pepperoni" class="promo-img">
            <h3>Pizza Pepperoni</h3>
            <p>Pizza clássica com pepperoni, queijo e molho de tomate.</p>
            <p class="Preco">R$ 34,90</p>
        </div>
        <div>
            <img src="../Static/Img/PizzaVegetariana.png" alt="Pizza Vegetariana" class="promo-img">
            <h3>Pizza Vegetariana</h3>
            <p>Opção saudável com legumes frescos, queijo e molho de tomate.</p>
            <p class="Preco">R$ 31,90</p>
        </div>
    </div>

    <h2 class="Hsobre">Sobre a Pizzaria</h2>
    <p class="Psobre">A Pizzaria PostgreSQL é uma pizzaria tradicional que oferece uma variedade de pizzas deliciosas, 
        feitas com ingredientes frescos e de alta qualidade. Nossa missão é proporcionar uma experiência gastronômica única, 
        combinando sabores autênticos com um ambiente acolhedor. 
        Venha nos visitar e descubra por que somos a escolha número um para os amantes de pizza na cidade!</p>

    <footer class="Footer">
        <p class="Pfooter">© 2026 Projeto Pizzaria PostgreSQL. <br>Todos os direitos reservados.</p>
    </footer>
</body>
</html>