<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylepedido.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <title>PizzariaPostgreSQL</title>
</head>
<body>
    <header>
        <div class="menu">
            <img src="{{ url_for('static', filename='img/pizzarialogo.png') }}" alt="Logo da Pizzaria" class="logo">

            <nav class="links">
                <a href="{{ url_for('home.home') }}" target="_self" rel="noopener noreferrer">Home</a>
                <a href="{{ url_for('cardapio.cardapio') }}" target="_self" rel="noopener noreferrer">Cardápio</a>
                <a>Pedido</a>
            </nav>         
            <nav class="direita">
                {% if session.get("usuario_id") %}
                    <a href="{{ url_for('login.logout') }}" target="_self" rel="noopener noreferrer">Logout</a>
                {% else %}
                <a href="{{ url_for('cadastro.cadastro') }}" target="_self" rel="noopener noreferrer">Cadastro</a>
                <a href="{{ url_for('login.login') }}" target="_self" rel="noopener noreferrer">Login</a>
                {% endif %}
            </nav>
        </div>
    </header>
    
    <h1>Seu Pedido - Total: R$ {{ total|round(2) }}</h1>
    <div class="ListaPedido">
        {% for nome, preco, imagem, disponivel in itens %}
            <div class="ItemPedido">
                    <form action="{{ url_for('pedido.remover_item', nome = nome) }}" method="POST" style="display:inline;">
                        <button type="submit" class="removeritem">X</button>
                    </form>

                    <img src="{{ url_for('static', filename='img/cardapio/' ~imagem )}}" alt="{{ nome }}">
                    <h3>{{ nome }}</h3>
                    <p>Preço: R$ {{ preco }}</p>
            </div>
        {% endfor %}
    </div>

    {% if not itens %}
        <button class="sempedido">Sem Pedidos</button>
    {% else %}

    <h2 class="H2TiposPE">Selecione Tipo de entrega e a forma de pagamento para finalizar o pedido.</h2>
    <div class="TipoPagamentoEntrega">
        <label for="entrega">Tipo de entrega:</label>
        <select id="entrega" name="tipo_entrega" required>
            <option value="">Selecionar</option>
            <option value="delivery">Delivery</option>
            <option value="local">Retirar no Local</option>
        </select>

        <label for="pagamento">Tipo de Pagamento:</label>
        <select id="pagamento" name="tipo_pagamento" required>
            <option value="">Selecionar</option>
            <option value="cartao">Cartão</option>
            <option value="pix">Pix</option>
            <option value="dinheiro">Dinheiro</option>
        </select>
    </div>
        <button id="finalizar" class="FinalizarPedido" disabled>Finalizar Pedido</button>

    {% endif %}

    <footer class="Footer">
        <p class="Pfooter">© 2026 Projeto Pizzaria PostgreSQL. <br>Todos os direitos reservados.</p>
    </footer>

    <script src="{{ url_for('static', filename='js/pedido.js') }}"></script>
</body>
</html>