<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css')}}">
    <title>PizzariaPostgreSQL</title>
</head>
<body>
    <header>
        <div class="menu">
            <img src="{{ url_for('static', filename='img/pizzarialogo.png') }}" alt="Logo da Pizzaria" class="logo">


            <nav class="links">
                <a href="{{ url_for('home') }}" target="_self" rel="noopener noreferrer">Home</a>
                <a href="{{ url_for('cardapio') }}" target="_self" rel="noopener noreferrer">Cardápio</a>
                <a href="{{ url_for('pedido')}}" target="_self" rel="noopener noreferrer">Pedido</a>
            </nav>         
            <nav class="direita">
                <a href="{{ url_for('cadastro') }}" target="_self" rel="noopener noreferrer">Cadastro</a>|
                <a href="{{ url_for('login') }}" target="_self" rel="noopener noreferrer">Login</a>
            </nav>
        </div>
    </header>

    <footer class="Footer">
        <p class="Pfooter">© 2026 Projeto Pizzaria PostgreSQL. <br>Todos os direitos reservados.</p>
    </footer>
</body>
</html>