.H1Logo{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    padding: 60px 0px 0px;
}

.H2Logo{
    font-size: 30px;
    margin-top: 70px;
    padding: 60px 20px;
    text-align: center;
}

.Hsobre{
    font-size: 25px;
    margin-top: 70px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    padding: 100px 20px 20px;
}

.Psobre{
    font-size: 20px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    padding: 0px 20px 20px;
}

.Pdoh1 {
    text-align: center;
    font-size: 25px;
}